In [118]:
print('Melt, Pivot, Aggregations, and Iteration.')

import pandas as pd
import numpy as np
#importing data
data = pd.read_csv('breast-cancer.data')
data.columns = ['class', 'age', 'menopause', 'tumor_size', 'inv_nodes', 'node_caps', 'deg_malig', 'breast', 'breast_quad', 'irradiat']

Melt, Pivot, Aggregations, and Iteration.

In [131]:
#working on Melt
print('Melt')
#create data frame
df = pd.DataFrame(data)
print(df.columns)
#print(df)
#melt
df_melt = pd.melt(df, id_vars = ['inv_nodes'], value_vars = ['tumor_size'], value_name = 'tumor size')
print(df_melt)

Melt
Index(['class', 'age', 'menopause', 'tumor_size', 'inv_nodes', 'node_caps',
       'deg_malig', 'breast', 'breast_quad', 'irradiat'],
      dtype='object')
    inv_nodes    variable tumor size
0         0-2  tumor_size      20-24
1         0-2  tumor_size      20-24
2         0-2  tumor_size      15-19
3         0-2  tumor_size        0-4
4         0-2  tumor_size      15-19
..        ...         ...        ...
280       0-2  tumor_size      30-34
281       0-2  tumor_size      20-24
282       0-2  tumor_size      20-24
283       3-5  tumor_size      30-34
284       3-5  tumor_size      30-34

[285 rows x 3 columns]

In [145]:
#pivot
print('pivot')
print(data.columns)
#pivot data
df_pivot = data.pivot(columns = 'irradiat', values = 'tumor_size')
print(df_pivot)

pivot
Index(['class', 'age', 'menopause', 'tumor_size', 'inv_nodes', 'node_caps',
       'deg_malig', 'breast', 'breast_quad', 'irradiat'],
      dtype='object')
irradiat     no    yes
0         20-24    NaN
1         20-24    NaN
2         15-19    NaN
3           0-4    NaN
4         15-19    NaN
..          ...    ...
280       30-34    NaN
281         NaN  20-24
282       20-24    NaN
283       30-34    NaN
284       30-34    NaN

[285 rows x 2 columns]

In [151]:
#Aggregations
print('Aggregations')

#aggregation max and min of data
df_aggregation = data.aggregate({'age': ['max', 'min'],
    'tumor_size': ['max', 'min'],
    'inv_nodes': ['max', 'min'],
    'deg_malig': ['max']})

print(df_aggregation)

Aggregations
       age tumor_size inv_nodes  deg_malig
max  70-79      50-54      9-11        3.0
min  20-29        0-4       0-2        NaN

In [162]:
#Iteration
print('Iteration')

#iteration

df = pd.DataFrame(np.random.randn(4,3),columns = ['age','tumor_size','deg_malig'])
for row_index,row in df.iterrows():
   print (row_index,row)

Iteration
0 age          -0.546769
tumor_size   -0.582306
deg_malig     0.260769
Name: 0, dtype: float64
1 age           0.721573
tumor_size   -0.312287
deg_malig    -1.381114
Name: 1, dtype: float64
2 age           0.865664
tumor_size    0.668009
deg_malig    -0.744148
Name: 2, dtype: float64
3 age           0.696406
tumor_size   -0.175922
deg_malig     0.183656
Name: 3, dtype: float64

In [158]:
#Groupby
print('Groupby')

#group data by tumor size
df_groupby1 = data.groupby('tumor_size').sum()
print(df_groupby1[:10])

#groupby inv_nodes
df_groupby2 = data.groupby('inv_nodes').sum()
print(df_groupby2)

#groupby age
df_groupby3 = data.groupby('age').sum()
print(df_groupby3)

Groupby
            deg_malig
tumor_size
0-4                14
10-14              44
15-19              57
20-24             103
25-29             114
30-34             130
35-39              46
40-44              47
45-49               6
5-9                 6
           deg_malig
inv_nodes
0-2              404
12-14              9
15-17             17
24-26              3
3-5               82
6-8               44
9-11              24
       deg_malig
age
20-29          2
30-39         74
40-49        186
50-59        199
60-69        113
70-79          9

/var/folders/1j/ymsl58yn5mn_yd10wjd64tx40000gn/T/ipykernel_33781/2773339062.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_groupby1 = data.groupby('tumor_size').sum()
/var/folders/1j/ymsl58yn5mn_yd10wjd64tx40000gn/T/ipykernel_33781/2773339062.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_groupby2 = data.groupby('inv_nodes').sum()
/var/folders/1j/ymsl58yn5mn_yd10wjd64tx40000gn/T/ipykernel_33781/2773339062.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_groupby3 = data.groupby('age').sum()